
body{
    margin: 0;
    height: 100%;
    background-color: #6785FF;
    align-items: center;

}


#main-box{
    margin-top: 70px;
    background-color: white;
    height: 500px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);;

}

input{
width: 85%;
height: 70px;
background-color: #f3f3f3;
border-width: 0px;
border-color: white;
border-radius: 1;
padding-left: 30px;
}

.button{
    background-color: #6785FF; /* Green */
    border: none;
    color: white;
    width: 90%;
    margin-top: 8px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

 #input1{
background-image: url('images/mdi_email.svg');
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
opacity: 0.7;

background-position: 90%;
 }

 #input2{
    background-image: url('images/material-symbols_lock.svg');
    opacity: 0.7;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-position: 90%;
     }

    .invalid{
        border-width: 2px;
        border-color: red;
    }

    .valid{
        border-width: 2px;
        border-color: green;
    }